<%- include("header") -%>
  <div class="box" id='heading'>
    <h1> <%= listTitle %> </h1>
  </div>
<div class="weather">
  <h1>the temperature in Retford is currently <%= temp %> </h1>
</div>
  <div class="box" id=''>
    <% for(var i=0; i<newListItems.length; i++) {%>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>

    </div>
    <% } %>
  <!-- when submit is pressed the form will make a post request to the / (home) route for the value of the input called by the name -->
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="new Item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %> >+</button>
  </form>
  </div>
<%- include("footer") -%>
